@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tangerine";
  src: url("../fonts/Tangerine-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
