$primary: #005ca2;
$secondaryBlue: rgb(43, 43, 190);
$whiteText: rgb(253, 253, 253);
$darkBackground: rgb(7, 6, 6);
$secondary: rgb(85, 84, 84);
$inputBg: rgb(240, 238, 238);
$whiteElement: rgb(241, 241, 241);
